*{
	margin:0;
	padding:0;}
	body{
		font-family: Poppins,sans-serif !important;
	}
body{
background-color:#f9f9f9;
}

header{
	border-top: 10px solid #1ecbe1;
}
.wrapper{
width:80%;
overflow:hidden;
display: block;
margin: 0px auto;

}
.logo{
width:16%;
float:left;
padding: 16px 0px ;
	}
.logo img{
width:100%;
}
.menu{
	width:60%;
float: right;
}

.menu ul{
}
.menu ul li{
	list-style-type: none;
float: left;
font-size: 19px;
text-transform: capitalize;
}

.menu ul li a{
	color:#000000;
text-align: center;
text-decoration: none;
padding: 20px 24px;
display: block;
transition: .2s;
}
.menu ul li a:hover{
	color:#1ecbe1;
	border-bottom: 2px solid #1ecbe1;
}
.active{
background-color:
border-radius: 5px;
}
.active :hover .menu ul li a {
	color:red;
}
/* Donat start */
.wrapperDonat{
	background-image: url(images/donate2.jpg);
    overflow: hidden;
    opacity: 1;
    background-repeat: no-repeat;
    background-size:cover;
}
.wrapperContent{
	width: 50%;
	margin:200px auto;
	padding: 20px 0px;
}
.wrapperContent h1{
	color: white;
font-size: 78px;

}
.wrapperContent p{
    color: white;
    font-size: 20px;
    text-align: center;
   padding-bottom: 60px;
    padding-top: 30px;
  
}
.wrapperContent span{
	padding: 20px 39px;
margin: 0px 240px;
border: none;
border-radius: 7px;
background-color: #1ecbe1;
}
.wrapperContent a{
	color: white;
text-decoration: none;
font-size: 18px;
text-transform: capitalize;
}/* Donat end */

/* about start */
.about{
	padding: 30px 0px;
}
.part1{
width: 24%;
float: left;

padding: 10px 26px;
margin-left: 46px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.part1 span{
	    font-size: 60px;
    font-weight: bold;
}
.part1 h1{
	    font-size: 18px;
    font-weight: 600;
    color: #1ecbe1;
    letter-spacing: 1px;
    line-height: 28px;
    
}
.part1 p{
	   color: #939393;
    font-family: 'Poppins', DejaVu Sans, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 27px;

}/* about end */
/* wrapper2 start */
.wrapper2{
	width: 76%;
overflow: hidden;
display: block;
margin: 20px 180px;
}
.part2{
	min-height: 30px;
	float: left;
	width: 50%;
	padding: 30px 0px;
	background-color: #2123bc;
	border-radius: 3px;
}
.part3{
	min-height: 30px;
	float: left;
	width: 50%;
	padding: 30px 0px;
	background-color:#1ecbe1;
	border-radius: 3px;
}
.part2 p{
font-size: 20px;
padding: 13px 83px;
text-align: center;
color: white;
}
.part2 a{
font-size: 16px;
text-decoration: none;
color: white;
margin-left: 200px;
padding: 14px 0;
border-bottom: 1px solid white;
}
.part3 p{
font-size: 20px;
padding: 13px 85px;
text-align: center;
color: white;
}
.part3 a{
font-size: 16px;
text-decoration: none;
color: white;
margin-left: 200px;
padding: 14px 0;
border-bottom: 1px solid white;
}
/* wrapper2 end */

/*cause start*/
.cause{
	float: left;
	width: 47%;
	float: left;
	margin-left: 28px;
	margin-bottom: 20px;
	overflow: hidden;
}
.cause img{
	width: 100%;
box-shadow: 0px 7px 7px 2px #847a7a;
border-radius: 5px;
transition: 2s;
}
.cause img:hover{
	transform: scale(1.1);
	border-radius: 5px;
	width: 100%;
	opacity: 0.7;
}
.causeTittle{
width: 20%;
margin: 0px auto;
padding: 68px 0px;
}
.causeTittle span{
text-align: center;
font-size: 30px;
border-bottom: 2px solid red;
padding-bottom: 20px;
margin-bottom: 20px;
}
.causeTittle span:before{
	 width: 200px;
      height: 3px;
      background: red;
border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
}
.cause h2{
    font-size: 21px;
    padding: 24px 0px;
}
.cause p{
	padding-right: 174px;
font-size: 16px;
letter-spacing: 1px;
line-height: 24px;
color: #939393;
}
.cause span{
	padding: 16px 16px;
border: none;
border-radius: 7px;
background-color: #1ecbe1;
}
.cause a{
	color: white;
text-decoration: none;
font-size: 18px;
text-transform: capitalize;
display: block;
padding: 38px 0px;
}
.courseleft img{
	width: 100%;
	min-height: 300px;
}
.courseleft{
width: 46%;
float: left;
}
.courseleft:nth-child(odd){
	margin-left: 86px;
}
.courseleft h1{
	padding: 20px 40px;
font-size: 30px;
margin-top: 138px;
}
.courseleft p{
	font-size: 18px;
padding: 10px 48px;
color:#939393;
}
.courseleft span{
font-size: 18px;
text-transform: capitalize;
display: block;
padding: 16px 8px;
background-color: #1ecbe1;
width: 27%;
border-radius: 4px;
margin-left: 47px;
margin-top: 52px;
}
.courseleft a{
	text-decoration: none;
	color: white;
}/*cause end*/
/*event start*/
.events{
overflow: hidden;
background-color: #1ecbe1;
padding: 74px 0px;
margin-top: 75px;
}
.events01{
	width:20%;
	float: left;
	text-align: center;
}
.events01:first-child{
	margin-left: 129px;
}
.events01 img{
	width: 24%;
}
.events01 h1{
font-size: 36px;
line-height: 54px;
padding: 20px 10px;
color: white;
}
.events01 p{
	 color: #FFFFFF;
    font-family: 'Poppins', DejaVu Sans, Verdana, sans-serif;
    font-size: 16px;
    padding: 0px 48px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 26px;
}/*event end*/
/*news start*/
.news{
overflow: hidden;
padding: 30px 0px;
}
.newsTop p{
	margin-left: 22px;
text-align: center;
font-size: 30px;
padding: 47px 0px;
}
.newsTop p::before{
	width: :20px;
	height: 2px;
	background: red;
}
.newsContent {
    width: 80%;
    margin: 0px 150px;
    overflow: hidden;
    float: left;
}
.newsContentleft{
width: 45%;
float: left;
margin-left: 35px;

}
.newsContentleft img{
	width: 100%;
}
.newsContentleft span{
font-size: 17px;
letter-spacing: 2px;
line-height: 76px;
color: #939393;
}
.newsContentleft h1{
color: #000000;
font-family: 'Poppins', DejaVu Sans, Verdana, sans-serif;
font-size: 24px;
font-weight: 500;
letter-spacing: 1px;
}
.newsContentleft p{
	color: #939393;
font-size: 16px;
text-align: left;
margin-left: 0px;
padding-right: 178px;
font-family: 'Poppins', DejaVu Sans, Verdana, sans-serif;
padding-top: 29px;
}

.newsbutton{
text-decoration: none;
text-align: center;
padding: 19px 21px;
border-radius: 6px;
background-color: #1ecbe1;
}
.newsbutton span{
	color:white;
}/*news end*/
/*team start*/
.teamTop h1{
text-align: center;
font-size: 30px;
margin: 70px 0px;
}
.team01{
	width:29%;
	margin: 0px auto;
	text-align:center;
	float: left;
	margin-left: 44px;
	margin-bottom: 70px;
}
.team01 img{
	width: 100%;
}
.team01 img:hover{
	opacity: 0.5;
}
.team01 h2{
    padding-top: 26px;
    font-size: 19px;
    letter-spacing: 1px;
}
.team01 p{
	    padding-top: 16px;
    font-size: 16px;
    letter-spacing: 2px;
color:#939393;
}
.team01 i{
	font-size: 13px;
background: red;
border-radius: 100%;
width: 22px;
height: 22px;
line-height: 22px;
margin-right: 6px;
margin-top: 10px;
background-color:#999999;
color:white;
transition:1s;
}
.team01 i:hover{
	background-color:#1ecbe1;
}/*team end*/
/*imgpart start*/
.imgpart1{
width: 30%;
float: left;
margin-left: 24px;
margin-bottom: 20px;
}
.imgpart1 img{
width: 100%;
height: 245px;

}
.imgleft{
	margin-left: 156px;
}/*imgpart end*/
/*donate start*/
.donate{
background-image:url(images/donacover.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position-y: center;
margin-top: 65px;
padding: 90px 0px;
}
.donateTop{
text-align: center;
}
.donateTop h2{font-size: 65px;
padding-top: 145px;
padding-top: 275px;
color: white;
padding-top: 245px;
padding-bottom: 78px;
}
.donateTop a{
background-color: #0cd1ea;
padding: 15px 19px;
font-size: 17px;
border-radius: 4px;
text-decoration: none;
color: white;
}/*donate end*/

/*footer start*/
footer{
background-color: black;
padding-bottom: 46px;
}
.footerconten{
	text-align:center;
color: white;
}
.footerconten h1{
	font-size: 39px;
text-transform: uppercase;
padding-top: 100px;
padding-bottom: 25px;
}
.footerconten i{
font-size: 20px;
color: white;
padding: 7px 9px;
border: 1px solid white;
border-radius: 50%;
transition: 1s;
}
.footerconten i:hover{
	background-color: #1ecbe1;
	border: 1px solid #1ecbe1;

}
.footerBottom {
text-align: center;
margin-top: 20px;
}
.footerBottom a{
color: white;
font-size: 18px;
letter-spacing: 1px;
}
.footerBottom span{
border-right: 2px solid gray;
padding: 0px 10px;
}
.footerBottom:last-child{
border-right:none;
}/*footer start*/
.footerBottom a span :last-child 